<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kasa</title>
  <link rel="stylesheet" type="text/css" href="../assets/main.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
  <!-- <script src="./bower_components/jquery/jquery.js"></script> -->
  <script src="../client/app.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div id="wrapper">
    <div id=results>
      <h3><%= place %></h3>
      <div class="data">Temperature: <%= temp %> F</div>
      <div class="data">Humidity: <%= humidity %> %</div>
      <div class="data">Wind: <%= wind %> mph</div>
    </div>
    <form method='post'> 
      <input id="zip" type="text" name="zip" placeholder="Enter city name/zip code" />
      <button type="submit">Enter</button>
    </form>
  </div>
</body>
</html>