body {background-image: url('clear-sky.jpeg');}

.invisible{visibility: hidden;}

#wrapper {margin: 0 auto; width: 600px; font-family: 'Open Sans'; background-color: #FFF;}

button, input, #results {display: block; margin: 20px auto;}
input {width: 200px; line-height: 20px;}

h3, .data {margin: 0 auto; padding: 10px 0 10px 0; text-align: center}


/*.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #9caeba;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}*/